
#img-div{
   
    width:800px;
    align-content: center;

   
    background-color: black;
    
}

#img{
    width:100%;
    max-width: 400px;
    display:inline;

    
    margin:0 auto;
    
     
    
    
}

